<div class="jumbotron center">

<h1>Pin App. Welcome!</h1>
<% if user_signed_in? %>
          # do something
<% else %>
<p>
	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</p>
<% end %>
 
</div>

<div class="center"
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3> Services Offered</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Read</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3> Why Register</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Read</a></p>
      </div>
    </div>
  </div>
</div>   

</div>
